// =============================================
// 変数
// =============================================
$font-Color: #1B224C;
$site-Color: #1B224C;
$bg-subColor: #F5A623;
$color-Wh: #fff;

// ============================================
// ベース
// ============================================
body {
  color: $font-Color;
  font-weight: bold;
  font-family: "游ゴシック体", 'YuGothic', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

p {
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

a {
	text-decoration: none;
  color: $font-Color;
}
a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

// ============================================
// メディアクエリ
// ============================================
$breakpoints: (
  l: "screen and (max-width: 1600px)", //PC
  m: "screen and (max-width: 1280px)", //タブレット
  s: "screen and (max-width: 599px)",  //スマートフォン
);
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// モジュール パーツ
.plan-bg {
  height: 221px;
  background-image: url(../images/plan.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-bg {
  height: 221px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.news-bg {
  height: 221px;
  background-image: url(../images/news.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-bg {
  height: 221px;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
