// =============================================
// 変数
// =============================================
$font-Color: #1B224C;
$site-Color: #1B224C;
$bg-subColor: #F5A623;
$color-Wh: #fff;

// ============================================
// ベース
// ============================================
body {
  color: $font-Color;
  font-weight: bold;
  font-family: "游ゴシック体", 'YuGothic', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

}

p {
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
  color: $font-Color;
}
a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

// モジュール パーツ
.plan-bg {
  height: 221px;
  background-image: url(../images/plan.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-bg {
  height: 221px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-bg {
  height: 221px;
  // background-image: url(../images/menu-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.spa-bg {
  height: 221px;
  // background-image: url(../images/onsen-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

