@import "_base";

// ============================================
// メディアクエリ
// ============================================
$breakpoints: (
  l: "screen and (max-width: 1600px)", //PC
  m: "screen and (max-width: 1280px)", //タブレット
  s: "screen and (max-width: 599px)",  //スマートフォン
);
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin btnSet {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1rem;
  text-align: center;
  color: $color-Wh;
}

@mixin section-ttl {
  .section__ttl {
    text-align: center;
    h2 {
      font-size: 36px;
      @include media(m) {
        font-size: 32px;   
      }
    }
  }
}
@mixin section-sub-ttl {
  .section__ttl {
    text-align: center;
    h2 {
      font-size: 32px;
      @include media(m) {
        font-size: 28px;   
      }
    }
  }
}

@mixin check {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: -11.5px;
    width: 10px;
    height: 5px;
    border-left: 3px solid $site-Color;
    border-bottom: 3px solid $site-Color;
    transform: rotate(-45deg);
  }
}

@mixin plan-menu {
  .plan-area__menu__item {
    box-sizing: border-box;
    width: 220px;
    height: 474px;
    border: solid 0.5px $site-Color;
    &-ttl {
      display: inline-block;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: $color-Wh;
      background-color: $site-Color;
    }
    &-text {
      text-align: center;
      padding-right: 23px;
      padding-left: 23px;
      h3 {
        margin-top: 30px;
        font-size: 25px;
      }
      p {
        margin-top: 14px;
      }
      ul li {
        font-weight: normal;
        display: inline-block;
        padding-left: 11.5px;
        line-height: 1.6875;
        position: relative;
        @include check;
      }
    }

    &:nth-child(1) {
      ul {
        margin-top: 48px - 5.5px;
        li {
          margin-bottom: 23px - 5.5px;
        }
      } 
    }
    &:nth-child(2) {
      ul {
        margin-top: 51px - 5.5px;
        li {
          margin-bottom: 20px - 5.5px;
        }
      } 
    }
    &:nth-child(3) {
      ul {
        margin-top: 49px - 5.5px;
        li {
          margin-bottom: 19px - 5.5px;
        }
      } 
    }
    &:nth-child(4) {
      ul {
        margin-top: 45px - 5.5px;
        li {
          padding-left: 0;
          &::before {
            display: none;
          }
        }
      }
    }
  }  
}

@mixin tile-btn {
  .tile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      width: 50px;
      height: 50px;
      margin-right: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: $color-Wh;
      color: $site-Color;
      border: solid 1px $site-Color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .current {
      background-color: $site-Color;
      color: $color-Wh;
    }
  }
}


