body {
  color: #1B224C;
  font-weight: bold;
}

p {
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1B224C;
}

a:hover {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.room-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spa-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  z-index: 1000;
}

.header__inner {
  max-width: 1280px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  margin-left: 28px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav ul li {
  font-size: 16px;
  margin-right: 28px;
}

.header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__right__info p:nth-child(1) {
  font-size: 12px;
}

.header__right__info-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.header__right__info-tel .tel {
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
}

.header__right .document-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  width: 142px;
  border-radius: 5px;
  background-color: #F5A623;
  margin-right: 10px;
  margin-left: 23px;
  font-size: 14px;
}

.header__right .contact-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  width: 137px;
  border-radius: 5px;
  background-color: #1B224C;
  font-size: 14px;
}

.fv {
  background-image: url(../images/fv.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fv__inner {
  padding-top: 116px;
  padding-bottom: 86px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv__ttl {
  font-size: 48px;
}

.fv p {
  font-size: 18px;
  line-height: 1.7222222;
  margin-top: 18.5px;
  margin-bottom: 44.5px;
}

.fv .document-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  width: 260px;
  border-radius: 31px;
  background-color: #F5A623;
  font-size: 16px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.fv .contact {
  color: #fff;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  margin-top: 22px;
}
/*# sourceMappingURL=style.css.map */